._demo--container
  a.wordmark(href='')
    span.wordmark--left Made with
          strong  Watson
  nav.heading-nav(role='menubar')
    li.base--li.heading-nav--li(role='presentation')
      a.heading-nav--item(href='http://desireyavro.com', role='menuitem') Contact
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
          | MAM.IO
        .banner--service-description
          |  Enabling our elderly to feel independant again using Image Recognition.